@import "../../App.scss";

.home-container {
  @apply flex flex-col h-screen;

  &--title {
    @apply mt-8 mb-6 tracking-widest font-audiowide md:px-8 text-4xl tracking-wide lg:text-[5em] lg:leading-none font-bold text-[#FEF102];

    text-shadow: 3px 3px #000;
    letter-spacing: 3px;
  }

  #default-search {
    -webkit-appearance: none;
  }

  .iframe-content {
    @apply rounded-2xl w-full h-128 border-2;
  }

  .banner {
    &--mini {
      @apply flex justify-center items-center h-7 text-center text-sm text-white font-semibold bg-gray-500;

      @include mobile {
        @apply text-xs items-center h-8;
      }
    }

    &--desktop {
      @apply hidden md:flex w-full h-128;

      img {
        @apply w-full;
      }

      @include tablet {
        @apply h-64;
      }

      @include desktop-default {
        @apply h-96;
      }

      @include desktop-wideScreen {
        @apply h-128;
      }
    }
  }

  .product-card-container {
    @apply w-full flex items-center flex-wrap justify-center m-auto p-4;
  }

  .carousel-slick {
    @apply container mx-auto mb-8;

    &--title {
      @apply px-20 py-8;
      p {
        @apply font-audiowide pb-2 text-gray-500 font-bold text-4xl;
      }

      @include mobile {
        @apply py-8 px-12;

        p {
          @apply text-3xl text-left;
        }
      }
    }
  }

  .newsletter {
    @apply bg-black dark:bg-gray-900 rounded-t-2xl md:rounded-none;

    background: rgb(48, 24, 23);
    background: linear-gradient(
      90deg,
      rgba(48, 24, 23, 1) 0%,
      rgba(31, 32, 34, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );

    &__container {
      @apply px-8 py-8 md:px-0 mx-auto max-w-screen-xl;

      &--content {
        @apply mx-auto max-w-screen-md sm:text-center;

        h2 {
          @apply mb-5 text-3xl tracking-tight font-bold text-gray-50 sm:text-4xl dark:text-white;
        }
        p {
          @apply mx-auto mb-8 md:mb-8 max-w-2xl font-normal text-gray-50 sm:text-xl dark:text-gray-400;
        }

        .form__content {
          @apply items-center mx-auto mb-3 space-y-4 max-w-screen-sm sm:flex sm:space-y-0;

          &--svg_container {
            @apply flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none;

            svg {
              @apply w-5 h-5 text-gray-500 dark:text-gray-400;
            }
          }

          input {
            @apply block p-3 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:rounded-none sm:rounded-l-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white;
          }
          button {
            @apply py-3 px-5 w-full md:w-32 text-sm text-center text-black font-bold rounded-lg  border border-[#FEF102] cursor-pointer bg-[#FEF102] sm:rounded-none sm:rounded-r-lg hover:bg-yellow-200 focus:ring-4;
          }
        }
      }
    }
  }
}
